<div class="bg" style="background-image: url({{background}})"></div>
<div class="loginContent main-content ">
  <div class="container-fluid">
    <div class="row pt-5">
      <div class="col-md-5 mx-auto pt-5">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="form-group row">
              <div class="col-md-6">
                <h3 class="card-title ">Registration</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm">
              <div class="form-group">
                <label class="username-label" for="username">Login</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="Your username"
                  formControlName="login"
                  #username
                  data-cy="username"
                />
                <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.required"
                  >
                    Your username is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.minlength"
                  >
                    Your username is required to be at least 1 character.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.maxlength"
                  >
                    Your username cannot be longer than 50 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.pattern"
                  >
                    Your username can only contain letters and digits.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                  formControlName="email"
                  data-cy="email"
                />

                <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.required"
                  >
                    Your email is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.invalid"
                  >
                    Your email is invalid.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.minlength"
                  >
                    Your email is required to be at least 5 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.maxlength"
                  >
                    Your email cannot be longer than 100 characters.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="password">New password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter your password"
                  formControlName="password"
                  data-cy="firstPassword"
                />

                <div
                  *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.required"
                  >
                    Your password is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.minlength"
                  >
                    Your password is required to be at least 4 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.maxlength"
                  >
                    Your password cannot be longer than 50 characters.
                  </small>
                </div>

              </div>

              <div class="form-group">
                <label class="form-control-label" for="confirmPassword"
                >Confirmation password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="Enter your password again"
                  formControlName="confirmPassword"
                  data-cy="secondPassword"
                />

                <div
                  *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                  >
                    Your confirmation password is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                  >
                    Your confirmation password is required to be at least 4 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                  >
                    Your confirmation password cannot be longer than 50 characters.
                  </small>
                </div>
              </div>

              <button
                type="submit"
                [disabled]="registerForm.invalid"
                class="btn btn-primary btn-block"
                data-cy="submit"
              >
                Register
              </button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
